.settings{
    display: flex;
}
.SettingsWrapper{
    flex: 9;
    padding: 20px;
}

.SettingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SettingsUpdateItems{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(199, 90, 226);
}

.SettingDeleteTitle{
    color: rgb(189, 0, 0);
    font-size: 12px;
    cursor: pointer;
}

.pTopic{
    margin-top: 50px;
}

.SettingForm{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.SettingPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.SettingsPP > img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.SettingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    align-items: center;
}

.SettingForm > lable{
    font-size: 20px;
    margin-top: 20px;
    width: 70%;
    margin-left: 10%;
}

.SettingForm > input{
    color:gray;
    margin: 10px 0;
    height: 30px;
    width: 70%;
   margin-left: 10%;
    /* border: none; */
}

.SettingsButton{
    width: 100px;
    margin-left: 40%;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    margin-top:30px ;
    height: 30px;
    cursor: pointer;
}

